---
export const prerender = false;
import MetadataWrapper from "@layouts/metadata-wrapper.astro";
import Nav from "@components/common/nav";
---

<MetadataWrapper page="Dashboard">
	<Nav current="Dashboard" client:load />
	<h1>Dashboard</h1>
</MetadataWrapper>
