---
import MetadataWrapper from "@layouts/metadata-wrapper.astro";
import ProjectsGallery from "@components/projects/projects-gallery";
import Search from "@components/common/search";
import Nav from "@components/common/nav";
---

<MetadataWrapper page="Home">
	<Nav current="Projects" client:load />
	<div class="px-8 flex flex-col items-center gap-4">
		<Search client:load />
		<ProjectsGallery client:load />
	</div>
</MetadataWrapper>
