---
import MetadataWrapper from "@layouts/metadata-wrapper.astro";
import { SearchIcon } from "lucide-react";
import ProjectsList from "@components/projects/projects";
import Search from "@components/common/search";
---

<MetadataWrapper page="Home">
  <div class="p-8 flex flex-col items-center gap-4">
    <Search client:load />
    <ProjectsList client:load />
  </div>
</MetadataWrapper>
